[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gclm"]
	path = gclm
	url = https://github.com/gherardovarando/gclm
[submodule "stagedtrees"]
	path = stagedtrees
	url = https://github.com/gherardovarando/stagedtrees
